<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <h1>Методы АПИ:</h1>
      <br />
      <ul>
        <li>
          Получение данных из файла: <a href="/getDataInFile">/getDataInFile</a>
        </li>
        <li>
          Запись данных в файл: <a href="/setDataInFile">/setDataInFile</a>
        </li>
        <li>
          Получение данных из базы 
          <a href="/getDataInDatabase">/getDataInDatabase</a>
        </li>
        <li>
          Получение всех данных
          <a href="/getAllData">/getAllData</a>
        </li>
      </ul>
    </main>
  </body>
</html>
